<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <SCRIPT LANGUAGE="JAVASCRIPT">
  <!--
  var r_text = new Array();
  r_text[0] = "착한사람!";
  r_text[1] = "공부잘하는사람.";
  r_text[2] = "머리에 똥이가득하군.";
  r_text[3] = "변태!";
  r_text[4] = "교양이 넘쳐흐르는군요.";
  r_text[5] = "뭘봐!";
  r_text[6] = "오늘 저녁은 당신이 쏜다";
  var i = Math.floor(r_text.length * Math.random());
  document.write("<br /><br /><br /><br /><br /><br /><br /><center><FONT SIZE=72><FONT COLOR='#FFFFFF'>" +
    r_text[i] + "</FONT></center><br />");
  var bgcolorlist = new Array("#228B22", "#FFD700", "#ADFF2F", "#FF69B4", "#CD5C5C", "#4B0082", "#7CFC00", "#ADD8E6", "#E84643", "#ED0A07", "#EA2907", "#E5294B", "#E00D26", "#FF3030", "#FC7500", "#F95700", "#F43900", "#F95620")
  document.body.style.background = bgcolorlist[Math.floor(Math.random() * bgcolorlist.length)];
</script><br> <br>
<br>
<br>
<style type="text/css">
  < !-- body,
  td,
  th {
    color: #000;
    font-family: Helvetica, sans-serif;
    </html>

</body>
</html>